@charset "UTF-8";

main{
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(8, 100px);
    grid-template-columns: repeat(5, 1fr);
}

header{
    background-color: brown;
    text-align: center;
    grid-row: 1 / 3;
    grid-column: 1 / 6;
}

span{
    background-color: chocolate;
    padding: 10px;
    grid-row: 3 / 4;
    grid-column: 1 / 6;
}

span > a{
    color: white;
}

article{
    background-color: cadetblue;
    text-align: center;
    grid-row: 4 / 8;
    grid-column: 1 / 4;
}

section{
    background-color: blueviolet;
    text-align: center;
    grid-row: 4 / 8;
    grid-column: 4 / 6;
}

footer{
    background-color: cornflowerblue;
    text-align: center;
    grid-row: 8 / 9;
    grid-column: 1 / 6;
}